# OS X
.DS_Store

# Xcode
build/
xcuserdata/
profile
DerivedData


# Bundler
.bundle
.cache
*.map

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

Pods/